<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uci.ucintlm"
>


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="18" />

    <application

        android:allowBackup="true"
        android:description="@string/description"
        android:icon="@drawable/ic_launcher"

        android:label="@string/app_name">

        <activity
            android:name=".ui.ui.UCIntlmDialog"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/CustomDialogTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <receiver
            android:name=".ui.ui.UCIntlmWidget"
            android:icon="@drawable/widget_on1"
            android:label="UCIntlm switch">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider" />
        </receiver>

        <receiver android:name=".service.wifi_configuration.WifiAutoConfig">
            <intent-filter android:priority="100">
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.service.NTLMProxyService"
            android:process=":UCIntlmService"
            android:icon="@drawable/ic_launcher"
            android:label="UCIntlmService"
            android:launchMode="singleTop"
            android:stopWithTask="false"
            >
        </service>
    </application>

</manifest>